fa-icon {
  cursor: pointer;
}
.k-expander-header {
  display: none;
}
.required:after {
  margin-left: 5px;
  content: "*";
  color: red;
}
.k-dialog-titlebar {
  background-color: red;
}
.k-button-solid-primary {
  background-color: red;
  border-color: red;
}
.k-form .k-label,
.k-form kendo-label,
.k-form .k-form-label,
label {
  font-weight: bold;
  margin-bottom: 10px;
}

.bg-200 {
  background-color: lightgray !important;
}

.btn-reveal-trigger {
  height: 56px;
}
.px-6 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
h2 {
  font-family: "Rubik", sans-serif;
}
label{
  font-family: "Rubik", sans-serif;
}


