<h2> Prêt Bancaire </h2>
<form class="k-form" [formGroup]="form">
  <fieldset class="k-form-fieldset">
    <div class="row">
      <div class="col-4 mb-3">
        <kendo-formfield>
          <label for="duree">Durée de l'appel : </label>
          <input id="duree" formControlName="duree" kendoTextBox />
          <kendo-formerror>Error: Duration is required</kendo-formerror>
        </kendo-formfield>
      </div>
      <div class="col-4 mb-3">
        <kendo-formfield>
          <label for="campagne">Campagne : </label>
          <input id="campagne" formControlName="campagne" kendoTextBox />
          <kendo-formerror>Error: Campagne is required</kendo-formerror>
        </kendo-formfield>
      </div>
      <div class="col-4 mb-3">
        <kendo-formfield>
          <label for="pdays">Pdays : </label>
          <input id="pdays" formControlName="pdays" kendoTextBox />
          <kendo-formerror>Error: Campagne is required</kendo-formerror>
        </kendo-formfield>
      </div>
      <div class="col-4 mb-3">
        <kendo-formfield>
          <label for="housing">Housing : </label>
          <input id="housing" formControlName="housing" kendoTextBox />
          <kendo-formerror>Error: Housing is required</kendo-formerror>
        </kendo-formfield>
      </div>
      <div class="col-4 mb-3">
        <kendo-formfield>
          <label for="poutcome">Poutcome : </label>
          <input id="poutcome" formControlName="poutcome" kendoTextBox />
          <kendo-formerror>Error: Campagne is required</kendo-formerror>
        </kendo-formfield>
      </div>
    </div>
  </fieldset>
</form>

<br>
<button (click)="submit()" [disabled]="!form.valid" class="btn btn-outline-success mt-3"> PREDICT
</button>
