select {
  width: 100%;
  border-color: darkblue;
  border-radius: 5px;
  height: 30px;
}

kendo-formfield{
  width: 100%;
  position: center;
}
.k-form {
  margin-top: 0;
  width: 240px;
}
fieldset {
  padding:0 20px 20px 20px;
  margin-bottom:10px;
  border:1px solid #DF3F3F;
}
